<h3 style="color: #85054b; padding-right:  10px; font-size: 25px;"> Show Vehicle Details</h3>
<div>
    <div>
        <label style="color: rgb(10, 10, 126); font-weight: bold;"> <b> Regstration Number: </b></label>{{vehicle.regNo}}
    </div>
    <div>
        <label style="color: rgb(10, 10, 126); font-weight: bold;"> <b> Name: </b></label>{{vehicle.name}}
    </div>
    <div>
        <label style="color: rgb(10, 10, 126); font-weight: bold;"> <b> Type of Vhicle: </b></label>{{vehicle.type}}
    </div>
    <div>
        <label style="color: rgb(10, 10, 126); font-weight: bold;"> <b> State: </b></label> {{vehicle.state}}
    </div>
    <div>
        <label style="color: rgb(10, 10, 126); font-weight: bold;"> <b> City: </b></label> {{vehicle.city}}
    </div>

</div>